   // Colors

 $blue: #95e1d3;
 $black: #333333;
 $grey: #999999;
 $light-grey: #cccccc;
 $main-color: #f38181;
 $white-text: #ffffff;
 $pseudo: #fce38a;

   //  Fonts

 %Montserrat-ExtraBold {
     font-family: "Montserrat", sans-serif;
     font-style: normal;
     font-weight: 800;
 }

 %Montserrat-Bold {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
 }

 %Montserrat-SemiBold {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
 }

 %Montserrat-Medium {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
 }

 %Montserrat-Regular {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
 }

 %KaushanScript-Regular {
    font-family: "Kaushan Script", sans-serif;
    font-style: normal;
    font-weight: 400;
 }

 %Roboto-LightItalic {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 300;
 }

 %Roboto-Regular {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
 }
