.header {
    width: 1200px;
    min-width: 400px;
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 2px 40px 2px;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #95e1d3;
    font-size: 35px;
}

.logo:hover {
    color: #f38181;
}

.menu-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #95e1d3;
    text-transform: uppercase;
    margin-right: 60px;
    float: right;
}

.menu-link:last-child  {
    margin-right: 0;
}

ul.menu-link li {
    float: left;
    list-style: none;
}


.title-item a {
    color: #95e1d3;
    margin-right: 30px;

}

.title-item li {
   float: left;
}

.title-item {
    color: #f38181; 
} 

.title-item a:hover {
    color: chartreuse;
}



.title-item:hover::after {
    content: "";
    border: 2px solid #f38181;
    width: 50px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


