.hideChat {
    display: none;
}

.showChat{
    transition: 1s;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: #4c4145;
    box-sizing: border-box;
    padding: 20px;
}

.fa-times {
    position: absolute;
    top: 2%;
    right: -2%;
    color: #DA4D83;
    cursor: pointer;
}

.fa-times:hover {
    color: #ffffff;
}

/* .fa-times-circle {
    position: absolute;
    top: -10%;
    right: 10%;
    color: black;
   /* display: none;  */
/* }  */

.registation_button {
    margin-left: 145px;
}


.my_avatar_photo{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    /* background-color: #40373a; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* color: wheat; */
     color: #40373a;
        border: 3px solid #21447A;
        border-radius: 5%; 

}

.my_user_img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 6px;
}

.my_ava_span{
    margin-right: 10px; 
}

.last_comments {
     font-family: 'Fahkwang', sans-serif; 
    font-size: 13px;
}

.btn_logIn, .btn_registration {
    background-color: #D8F0A3;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border-radius: 5%;
    cursor: pointer;
    margin-left: auto;
    transition: 2s;
}

.btn_logIn:hover, .btn_registration:hover {
    color: #ffffff;
    background-color: darkslategrey;
    font-style: italic;
}


@media(min-width: 768px) {
    .showChat {
        position: static;
        width: 20%;
    }

    .hideChat{
        display: block;
        width: 20%;
    }

    .fa-times {
        display: none;
    }

    /* .my_avatar_photo{ */
        /* background-color: #edeff0; */
        /* color: #40373a;
        border: 3px solid #21447A;
        border-radius: 5%; */
        /* display: flex;
        align-items: center; */
    /* } */
} 

@media(min-width: 1280px){
    .showChat {
        position: static;
        width: 20%;
        background-color: #4c4145;
        box-sizing: border-box;
        padding: 20px;
    }

    .hideChat{
        position: static;
        width: 20%;
        background-color: #4c4145;
        box-sizing: border-box;
        padding: 20px;
    }
}
