
.section {
    padding: 40px 0 40px 0;
    background-color: #323232;
    text-align: center;   
}

.text, .text2 {
    color: #ffffff;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}

.symbol {
    symbols: &#169;
}

.only {
    color: #46bfa9;
}