.wrapper-header {
    width: auto;
    height: 90px;
}

.header {
    padding: 40px 245px;
}

.logo {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #515151;
    text-transform: uppercase;
    float: left;
    margin-top: -5px;
}

.logo::first-letter {
    font-weight: 700;
    color:  #1abc9c; 
}

.logo:hover {
    color: rgb(158, 115, 157);
}

.logo:focus {
    color:  #FA8072;
}

.navigation {
    float: right;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    list-style: none;
}

ul.navigation li {
    float: left;
    list-style: none;
}

.nav-link a {
    color: #0f0101;
    margin-right: 30px;
}

.nav-link li {
    float: left;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link a:hover {
    color: #1abc9c;
}

.nav-link a:focus {
    color: #ff450f;
}