.wrapper-slider {
    position: relative;
    width: auto;
    height: auto;   
    background-image: url(../image/slide4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 600px;
}

.main-title {
    text-align: center;
    padding-top: 220px;
    padding-bottom: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 290px;
}
 

.button-right {
    position: absolute;
    top: 41%;
    right: 10%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: #1abc9c; 
}

.button-right:hover {
    opacity: 0.5;
    transition: 1s;
}

.button-left:hover {
    opacity: 0.5;
    transition: 1s;
}

.button-left {
    position: absolute;
    top: 41%;
    left: 10%;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #1abc9c;   
}

.click {
    color: #ffffff;
    font-size: 60px;
    font-weight: lighter;
}