.div_main {
    padding: 13px;
    background-color: #f5f6f7;
    /* display: flex; */
    /* width: 70%; */

}

.label_search{
    position: relative;
    display: block;
}

.input_main {
    width: 80%;
    margin-right: 10px;
    /* padding: 13px; */
}

.fa-search{
    position: absolute;
    right: 20%;
    top: 2px; 
}


.fa-comments {
    position: absolute;
    right: -5%;
    top: 2%; 
}


@media (min-width: 768px){
    .fa-comments {
        display: none;
        /* position: absolute;
        right: 1%;
        top: 2%;  */
    }

    .fa-bars {
        display: none;
    }
}

@media (min-width: 1280px){
    .div_main {
        padding: 13px;
        background-color: #f5f6f7;
        /* display: flex; */
         /* width: 70%; */
    
    }

    .fa-comments {
        display: none;
        /* position: absolute;
        right: 11%;
        top: 4%;  */
    }

    .fa-bars {
        display: none;
    }
} 