* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    width: 950px;
    margin: auto;
}

.section {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    margin-bottom: 70px;
}

.logo {
    color: #fed136;
    cursor: pointer;
    font-family: "Lobster", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
}

.logo:hover {
    color: chocolate;
}

.menu-link {
    margin-right: 40px;
    font-family: "Montserat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    display: inline-block;
    padding-top: 10px;
}

.menu-link:hover {
    color: #fed136;
}

.menu-link:last-child {
    margin-right: 0;
}

ul.navigation li {
   display: inline-block;
   margin-right: 20px;
}

.main {
    width: 950px;
    margin: auto;
}

.main-title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #a2a2a2;
    font-size: 16px;
    margin-bottom: 80px;  
}

.services {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: auto;
}

.icon-img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid #fed136;
    margin-left: 90px;
    margin-bottom: 20px;
}

.icon-title {
    text-align: center;
    line-height: 2.5;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 800;
}

.text {
    text-align: center;
    line-height: 1.5;
    font-family: "RobotoSlab", sans-serif;
    font-size: 14px;
    color: #a2a2a2;
}

.about-us {
    width: 300px;
    margin-bottom: 120px;
}

.background {
    width: 950px;
    margin: auto;
    height: 670px;
}

.black-side {
   background-image: url("../image/background_160.png");
   background-position: center;
   background-size: cover;
   margin-bottom: 50px;
   position: relative;  
}

.img-abs {
    position: absolute;
    top: 10%;
    left: 54%;
}

.contact {
    text-align: center;
    padding-top: 110px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 25px;
}

.title-text {
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #a2a2a2;
    font-size: 16px;
    padding-bottom: 70px;
}

input[type="text"], input[type="email"] {
    width: 450px;
    height: 50px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-indent: 10px;
    color: #cacaca;
    padding-top: 8px;
    border-radius: 5px;
    border: none;  
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 455px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
}

textarea{
    width: 450px;
    height: 200px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-indent: 10px;
    color: #cacaca;
    padding-top: 10px;
    border-radius: 5px;
}

input[type="submit"]{
    padding: 25px 50px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-indent: 10px;
    color: #ffffff;
    background-color: #fed136;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.form-connect {
    width: 910px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

.connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea, input:valid {
    outline-color: green;
}
    
    
textarea, input:invalid {
    outline-color: red;
}   
