.menu-team {
    width: 1200px;
    margin: auto;
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
   
.menu-team__img {
    width: 380px;
    height: 470px;
}

.menu-team__participants {
    position: relative;    
}

.participants__appear-icons {
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 159, 137, 0.8)), to(rgba(255, 247, 145, 0.8)));
    background-image: -webkit-linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8));
    background-image: -o-linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8));
    background-image: linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8));
    opacity: 0;
    width: 100%;
    height: 500px;
    padding-top: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;  
}

.participants__click-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 250px; 
    margin-left: 100px;
}

.menu-team__name {
    text-align: center;
    line-height: 3;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif; 
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
}

.menu-team__text {
    text-align: center;
    font-family: "Roboto Light Italic", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #999999;
}

.participants__appear-icons:hover {
    opacity: 1;
    -webkit-transform: translate(-5%, -10%);
        -ms-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
    top: 0;
    left: 0;
    -webkit-box-shadow: 20px 20px 0 0 #95e1d3;
            box-shadow: 20px 20px 0 0 #95e1d3;
}

.participants__svg-img {
    fill: #f38181;
    cursor: pointer;
    background-color: #fce38a;
    background-position: center;
    width: 42px;
    height: 42px;
    padding: 5px;
}

.participants__svg-img:hover {
    fill: #ffffff;
    background-color: #f38181;
}