.wrapper {
    width: 100%;
    height: auto;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 159, 137, 0.8)), to(rgba(255, 247, 145, 0.8))), url("../image/Untitled-32-min.png");
    background-image: -webkit-linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8)), url("../image/Untitled-32-min.png");
    background-image: -o-linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8)), url("../image/Untitled-32-min.png");
    background-image: linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8)), url("../image/Untitled-32-min.png");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-resolution:192dpi) {
    .wrapper {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 159, 137, 0.8)), to(rgba(255, 247, 145, 0.8))), url("../image/Untitled-35@2x-min.png");
        background-image: -webkit-linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8)), url("../image/Untitled-35@2x-min.png");
        background-image: -o-linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8)), url("../image/Untitled-35@2x-min.png");
        background-image: linear-gradient(rgba(248, 159, 137, 0.8), rgba(255, 247, 145, 0.8)), url("../image/Untitled-35@2x-min.png");
    }
}


.header-main {
    width: 1200px;
    min-width: 400px;
    max-width: 1200px;
    min-height: 100%;
    margin: auto;
    padding: 40px 2px 40px 2px;
}

.menu__logo {
    
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 35px;
}

.menu__logo:hover {
    color: #fce38a;
}

.menu__menu-link {
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #95e1d3;
    text-transform: uppercase;
    float: right;
}

.menu__menu-link:last-child  {
    margin-right: 0;
}

ul.menu__menu-link li {
    float: left;
    list-style: none;
}

.menu__title-item a {
    color: #ffffff;
    margin-right: 30px;
}

.menu__title-item li {
   float: left;
}

.menu__title-item a:hover {
    color: #fce38a;
}

.menu__title-item:hover::after {
    content: "";
    border: 2px solid #fce38a;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
}

.header__title {
    margin-top: 175px;
    text-align: center;
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    font-size: 72px;
    color: #ffffff;
}

.header__subtitle {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 150px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 120px; 
}

.header__btn {
    margin-left: 530px;
    margin-bottom: 225px;
    border: 4px solid #ffffff;
    padding: 12px 26px 10px 30px;
    font-family: "Montserrat", sans-serif;
    font-style: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    background: no-repeat;
}

.menu__icon-icon {
    fill: #ffffff;
    margin-right: 35px;
}

.menu__icon-icon:hover {
     fill: #fce38a;
}

.header-main__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;   
}