.image-gallery {
    width: 1280px;
    margin: auto;
}

.preview {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 1280px;
};

.link {
    padding-left: 0;
    padding-right: 0;
}

.photo {
    width: 200px;
    height: 130px;
    border: 4px solid indianred;
}

.active {
    border: 5px solid thistle;
    width: 200px;
    height: 130px;
}
