.stopwatch {
    text-align: center;
    margin-top: 200px;
}

.btn {
    cursor: pointer;
    padding: 25px 35px;
    background-color: orangered; 
    border: 2px solid orange;
    border-radius: 10%;
}

.time {
    font-size: 45px;
}

.active {
    background-color: olive;
}