
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.head {
    width: 1350px;
    height: 50px;
    margin-top: 75px;
    text-align: center;
    margin-bottom: 50px;
}

.menu {
    display: inline-block;
    vertical-align: top;     
}

.active {
    color: blue;
    text-decoration: none;
}

a {
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: #626262;
    margin-right: 30px;     
}

.box {  
    text-align: center;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    margin-right: 40px;
    margin-top: 130px; 
}


.pic {
    width: 450px;
    height: 300px;
}

.under-picture {
    text-transform: uppercase;
    color: #b4ad9e;
    padding-top: 30px;
    display: inline-block;
}


h2 {
    font-size: 30px;
    font-family: "PlayfairDisplay";
    color: #626262;
    text-align: left;
    padding-top: 30px;
}

p {
    font-size: 14px;
    font-family: "PlayfairDisplay";
    color: #626262;
    text-align: left;
    padding-top: 45px;
    line-height: 1.8;
}

.btn {
    display: block;
    margin-top: 50px;
    color: #626262;
    background-color: #fff;
    width: 160px;
    height: 50px;
    border: 1px solid grey;
    margin-left: 570px;
    margin-bottom: 50px;  
}

.btn-active {
    text-transform: none;
    font-family: "PlayfairDisplay";
    font-size: 20px;
    padding-left: 27px; 
 }
